
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}



html,
body {
    background-color: rgb(12, 12, 68); 
    color: white;
    font-family: 'poppins', sans-serif;
    height: 100%;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
}

.hide{
   
    display: none;
    

}

.popup-msg{
    box-shadow: 7px 2px 10px 2px rgba(236, 230, 230, 0.6);
    border-radius:20px;
    height: 20%;
    width: 20%;
    background: rgb(72, 54, 237);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    
}
.cancel{
    font-size: 45px;
    margin-left: 80%;
}
.popup-input{
    margin: 4px 0;
    color: black;
    height: 15%;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    padding-left: 3px;

}
.popup-submit{
    height: 15%;
    width: 20%;
    color: black;
    border-radius: 20px;
    border: none;
}







nav {
      background-color: rgb(15, 10, 60); 
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
        top: 0;  
}

.right a {
    padding: 0 30px;
    color: white;
    font-size: 15px;
}
.right a:hover{
    color: rgb(91, 91, 214);
    font-size: 1rem;
}


.left {
    font-size: 3rem;
}
.hibox{
    font-size: 20px;
}
.nav-icon{
    display: none;
}



.firstsection {
    background-color: rgb(12, 12, 68);
    display: flex;
    justify-content: space-around;
    /* padding: 23px 0; */
    height: 100vh;
    
    
    
    
}

.firstsection div {
    width: 50%;
    height: 600px;
    color: black;}

.leftsection {
    
    
    display: flex;
    justify-content: center;
     align-items: center; 
    font-size: 20px;
}





#rightimg {

    width: 100%;
    height: 100%;

    object-fit: cover;
    padding: 40px 0;


}
#element{
    color: rgb(170,107,228);
}


.secondsection{

    width: 100%;
    height: 92.5vh;
    background-image:linear-gradient(rgb(12, 12, 68),black);
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}

.skills{
    height: 85%;
    width: 70%;
    border: 2px solid white ;
    display: flex;
    justify-content: space-around;
    
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.skills div{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 30px;
    
    background: transparent;
    
    
   

}
.skills div img{
    height: 100px;
    width: 100px;
    object-fit: cover;

    
}
.skills div img:hover{
    
    transition: transform  ease 1s; 
    transform: rotate(360deg) scale(1.3);
    
}



.thirdsection{
    width: 100%;
    height: 92.5vh;
    background-image:linear-gradient(black,rgb(12, 12, 68));
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects{
    height: 85%;
    width: 70%;
    border: 2px solid white ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.forthsection{
    width: 100%;
    height: 50vh;
   background:rgb(12, 12, 68);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   

}
.contact{
    width: 500px;
    display: flex;
    
    align-items: center;
    justify-content: center;


  
}
.forthsectio a:hover{
    text-decoration: underline;
    font-size: 15px;

}





/* css for .contactme */
